
body{
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#fondo{
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.nubes{
    position: absolute;
    height: 170px;
}
#nube1{
    left:20%;
    top: 8%;
}
#nube2{
    left:60%;
    top: 20%;
}
#cesped{
    position: absolute;
    height: 20%;
    left: 0;
    bottom: 0;
}

#cesped1{
    position: absolute;
    height: 20%;
    right: 0;
    bottom: 0;
}
#cesped2{
    position: absolute;
    left: 600px;
    bottom: 0;
    width: 40%;
    height: 300px;
    z-index: 1;
}
#cesped3{
    position: absolute;
    height: 20%;
    left: 50px;
    bottom: 0;
    width: 40%;
    height: 220px;
    z-index: 2;

}
#cesped4{
    position: absolute;
    height: 20%;
    right: 50px;
    bottom: 0;
    width: 40%;
    height: 220px;
    z-index: 3;
}


/* Menu */
#menu{
    position: absolute;
    height: 6vh;
    margin-right: 4%;
    margin-top: 2%;
    right: 0;
    top: 4px;
    
}

#interiorMenu{
    position: absolute;
    display: none;
    /* visibility: hidden; */
    height: 60vh;
    width: 70%;
    background-color: rgb(0, 0, 0);
    z-index: 4;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    flex-direction: row;

    padding-bottom: 80px;
    

}

.botonMenu{
    height: 15%;
    margin: 50px;
}

#botonFin{
    transition: all 1s;
}


/* vida */
#vida{
    position: absolute;
    height: 51px;
    margin-right: 12%;
    margin-top: 3%;
    right: 0;
    top: 0;
    
    overflow: hidden;
}

#vida img{
    height: 200px;
}

/* Personajes */
#conejoAzul{
    animation: 3s infinite alternate ease conejoazul;

}

.conejosBox{
    position: absolute;
    overflow: hidden;
    height: 300px;
    
}

#conejoAzul img{
    height: 900px;
}

#conejoRosa{
    left: 580px;
    animation: 3s infinite alternate ease conejoRosa;
    animation-delay: 3s;
    bottom: -300px;
    z-index: 1;
}

#conejoRosa img{
    height: 900px;
}

#conejoNaranja{
    right: 580px;
    animation: 3s infinite alternate ease conejoRosa;
    animation-delay: 5s;
    bottom: -300px;
    z-index: 1;
}

#conejoNaranja img{
    height: 900px;
}

#conejoNegro{
    right: 350px;
    animation: 3s infinite alternate ease conejoNegro;
    animation-delay: 7s;
    bottom: -300px;
}

#conejoNegro img{
    height: 900px;
    margin-top: -600px;
    

}


@keyframes conejoazul{
    from{
        bottom: -100px;
    }
    to{
        bottom: 250px;
    }
}

@keyframes conejoRosa{
    from{
        bottom: -300px;
    }
    to{
        bottom: 100px;
    }
}

@keyframes conejoNegro{
    from{
        bottom: -300px;
    }
    to{
        bottom: 160px;
    }
}
